body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
  text-align: center;
  color: white;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 140px;
  color: white;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font: 24px;
  line-height: 1.5;
  margin: 0;
}
a {
  display: inline-block;
  border: 2px solid white;
  padding: 16px 32px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 700;
  margin-top: 32px;
  letter-spacing: 3px;
}

@media (max-width: 900px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 46px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
